#barra-brasil {
    position:relative;
    overflow:hidden;
    min-width:1000px;
    background: #7F7F7F url(../images/barra-brasil-v3-bgx.png) center bottom no-repeat;
}

#barra-brasil .barra {
    display: block;
    width: 960px;
    height:28px;
    margin: 0 auto;
    background: url(../images/barra-brasil-v3-bgx.gif) 0 bottom repeat-x;
}

#barra-brasil .barra ul {
    float:right;
    width: 269px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#barra-brasil .barra ul li {
    float: left;
    padding-left: 25px;
    margin: 0; 
    padding: 0; 
    list-style: none;
}

#barra-brasil .ai {
    display: block;
    width: 161px;
    height: 28px;
    text-indent: -9999999px;
    background: #7F7F7F url(../images/ai.png) no-repeat 0 4px;
    text-decoration: none;
    font-size:1px;
}

#barra-brasil .brasilgov {
    display: block;
    width: 108px;
    height: 28px;
    text-indent: -9999999px;
    background: #7F7F7F url(../images/brasil.png) no-repeat 0 4px;
    text-decoration: none;
    font-size:1px;
}